<h2 class="page-header">Recently Added</h2>

<% books.forEach(book => { %>
    <a href="/books/<%= book._id %>">
        <img height="150" width="150" src="<%= book.coverImagePath %>">
    </a>
<% }) %>