:root {
    --color-btn-primary-background: rgb(115, 250, 126);
    --color-btn-primary-background-dark: rgb(121, 245, 162);
    --color-btn-primary-text: black;
    --color-btn-primary-text-dark: brown;
    --color-btn-border: black;
    --color-btn-danger-background: rgb(250, 74, 74);
    --color-btn-danger-background-dark: rgb(255, 67, 67);
    --color-btn-danger-text: black;
    --color-btn-danger-text-dark: black;
}

.btn {
border: 1px solid var(--color-btn-border);
border-radius: .5rem;
padding: .5rem 1rem;
font-size: 1.2rem;
font-family: 'Gotham Rounded';
cursor: pointer;
text-decoration: none;
text-align: center;
}

.btn-row {
display: flex;
align-items: flex-start;
}

.btn-row > * {
margin-left: 1rem;
}

.btn-row > *:first-child {
margin-left: 0;
}

.btn-primary {
color: var(--color-btn-primary-text);
background-color: var(--color-btn-primary-background);
}

.btn-primary:hover {
color: var(--color-btn-primary-text-dark);
background-color: var(--color-btn-primary-background-dark);
}

.btn-danger {
color: var(--color-btn-danger-text);
background-color: var(--color-btn-danger-background);
}

.btn-danger:hover {
color: var(--color-btn-danger-text-dark);
background-color: var(--color-btn-danger-background-dark);
}