<h2 class="page-header">Edit Author</h2>

<form action="/authors/<%= author._id %>?_method=PUT" method="POST">
    <%- include('_form_field') %>
    <a href='/authors/<%= author._id %>'>Cancel</a>
    <button type="submit">Update</button>
</form>