<h2 class="page-header"><%= author.name %></h2>

<div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author._id %>/edit">Edit</a>
    <form method="post" action="/authors/<%= author._id %>?_method=DELETE">
        <button class="btn btn-danger"type="submit">Delete</button>
    </form>
</div>

<% if(foundBooks.length > 0){ %>
    <h2 class="page-header">Books by the Author</h2>
    <%- include('../partials/bookGrid', {books: foundBooks}) %>
<% } %>
